# User macros for mainsail.cfg file

[gcode_macro _pre_variables]
description: variables for the -pre- macros
variable_nothing: 0
gcode:
# no code for variables

[gcode_macro _pre_pause]
description: if needed, move to a save x-y Possition
gcode:
	# Get Variables
	#-------------
	{% set go_OZ_stop = params.GO_OZSTOP|default(1)|int %}
	#-------------
	{% set pos_xa = printer["gcode_macro _cleaning_vars"].cn_pos_xa|float %}
	{% set pos_xb = printer["gcode_macro _cleaning_vars"].cn_pos_xb|float %}
	{% set clean_y = printer["gcode_macro _cleaning_vars"].cn_clean_y|float %}
	{% set y_limit = printer["gcode_macro _cleaning_vars"].cn_y_limit|float %}
	{% set oz_stop_x = printer["gcode_macro _cleaning_vars"].cn_oz_stop_x|float %}
	{% set clean_speed = printer["gcode_macro _cleaning_vars"].cn_clean_speed|float %}
	{% set move_speed = printer["gcode_macro _cleaning_vars"].cn_move_speed|float %}
	#-------------

	{% set mpos = printer.gcode_move.position %}

	#-------------
	SAVE_GCODE_STATE NAME=_pre_pause

	RELATIVE_COOR
	G1 Z1 F{move_speed} ; lift Z by 1mm to avoid scratching the print
	ABSOLUTE_COOR

	{% if mpos.y > y_limit %}
		G1 Y{y_limit} F{move_speed}
	{% endif %}

	CLEAN_NOZZLE WAIT=0 GO_OZSTOP={go_OZ_stop}



	RESTORE_GCODE_STATE NAME=_pre_pause

[gcode_macro _pre_resume]
description: Executes befor resuming the print, checks for extruder temp and cleans the nozzle
gcode:
	{% set temp = params.TEMP|default(0)|int %}
	{% set min_temp = printer.configfile.settings.extruder.min_extrude_temp %}
	{% set temp_target = printer.extruder.target %}
	{% set temp_current = printer.extruder.temperature %}
	{% set last_temp = printer["gcode_macro RESUME"].last_extruder_temp.temp %}

	SAVE_GCODE_STATE NAME=_pre_resume
	respond type=echo msg="Enter _pre_resume and: Received last extruder temp: {last_temp}°C"

	########################################################################
	#{% if last_temp < min_temp  %}
	#	respond type=echo msg="pre-Resume Macro: Extruder temp {temp}°C is below minimal extrude temp of {min_temp}°C!"
	#	respond type=echo msg="Emergency Stop to avoid damage!"
	#	M112 ; Emergency Stop for wrong usage
	#{% endif %}
	
	#{% if temp_target < last_temp %}
	#	respond type=echo msg="pre-Resume Macro: Raising extruder temp from {temp_target}°C to last used temp of {last_temp}°C"
	#	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={last_temp}
	#{% elif temp_target > last_temp %}
	#	respond type=echo msg="pre-Resume Macro: Target temp changed from {last_temp}°C to {temp_target}°C"
	#{% endif %}
	########################################################################

	# echo: last_temp, min_temp, temp_target,

	# Last temp is below min: ERROR
	#{% if last_temp < min_temp %}
	#	respond type=echo msg="pre-Resume Macro: Last extruder temp {last_temp}°C is below minimal extrude temp of {min_temp}°C!"
	#	respond type=echo msg="Emergency Stop to avoid damage!"
	#	M112 ; Emergency Stop for wrong usage
	#{% endif %}
#
	## Target is below min: happens in normal pause-resume button setting -> Resume to last temp
	#{% if temp_target < min_temp %}
	#	respond type=echo msg="pre-Resume Macro: target temp {temp_target}°C is below minimal temp of {min_temp}°C!"
	#	respond type=echo msg="Raising temp to last temp of {last_temp}°C"
	#	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={last_temp}
	#	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={last_temp}
	## Target is above min but below last: the user changed the temp -> waiting for it then resume
	#{% elif temp_target < last_temp %}
	#	respond type=echo msg="pre-Resume Macro: Target temp changed from {last_temp}°C to {temp_target}°C"
	#	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp_target}
	## Target is above last: user changed the temp -> waiting for it then resume
	#{% elif temp_target > last_temp %}
	#	respond type=echo msg="pre-Resume Macro: Target temp changed from {last_temp}°C to {temp_target}°C"
	#	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp_target}
	#{% else %}
	#	respond type=echo msg="pre-Resume Macro: No change in extruder temp, resuming immediately after reaching temp."
	#	temperature_wait sensor=extruder minimum={temp_target}	
	#{% endif %}

	# clean nozzle before resume
	CLEAN_NOZZLE WAIT=0 WHIPES=3 GO_OZSTOP=0

	RESTORE_GCODE_STATE NAME=_pre_resume
