# User macros for mainsail.cfg file

[gcode_macro _pre_variables]
description: variables for the -pre- macros
variable_nothing: 0
gcode:
# no code for variables

[gcode_macro _pre_pause]
description: if needed, move to a save x-y Possition
gcode:
	# Get Variables
	#-------------
	{% set go_OZ_stop = params.GO_OZSTOP|default(1)|int %}
	#-------------
	{% set pos_xa = printer["gcode_macro _cleaning_vars"].cn_pos_xa|float %}
	{% set pos_xb = printer["gcode_macro _cleaning_vars"].cn_pos_xb|float %}
	{% set clean_y = printer["gcode_macro _cleaning_vars"].cn_clean_y|float %}
	{% set y_limit = printer["gcode_macro _cleaning_vars"].cn_y_limit|float %}
	{% set oz_stop_x = printer["gcode_macro _cleaning_vars"].cn_oz_stop_x|float %}
	{% set clean_speed = printer["gcode_macro _cleaning_vars"].cn_clean_speed|float %}
	{% set move_speed = printer["gcode_macro _cleaning_vars"].cn_move_speed|float %}
	#-------------

	{% set mpos = printer.gcode_move.position %}

	#-------------
	SAVE_GCODE_STATE NAME=_pre_pause

	RELATIVE_COOR
	G1 Z1 F{move_speed} ; lift Z by 1mm to avoid scratching the print
	ABSOLUTE_COOR

	{% if mpos.y > y_limit %}
		G1 Y{y_limit} F{move_speed}
	{% endif %}

	CLEAN_NOZZLE WAIT=0 GO_OZSTOP={go_OZ_stop}



	RESTORE_GCODE_STATE NAME=_pre_pause

[gcode_macro _pre_resume]
description: aasdf
gcode:
	{% set temp = params.TEMP|default(0)|int %}
	{% set min_temp = printer.configfile.settings.extruder.min_extrude_temp %}

	respond type=echo msg="Enter _pre_resume and: Received extruder temp parameter: {temp}°C"

	{% if temp < min_temp %}
		respond type=echo msg="Resume Macro: Extruder temp {temp}°C is below minimal extrude temp of {min_temp}°C!"
		respond type=echo msg="Emergency Stop to avoid damage!"
		M112 ; Emergency Stop for wrong usage
	{% endif %}

	SAVE_GCODE_STATE NAME=_pre_resume

	RESPOND TYPE=echo MSG="Resuming with temp {temp}"

	RESTORE_GCODE_STATE NAME=_pre_resume
